<!-- Flash Messages -->
<% if (success && success.length > 0) { %>
    <div class="flash-message success">
        <%= success %>
    </div>
<% } %>

<% if (error && error.length > 0) { %>
    <div class="flash-message error">
        <%= error %>
    </div>
<% } %>

