<%- include('partials/head', { title: "Home | CarGo", pageStyle: "css/register.css" }) %>
<body>

    <!-- Register Modal -->
    <div class="register-container">
                <h2>CREATE YOUR ACCOUNT</h2>
                <p>Join us and start your car rental journey</p>
                <%- include('partials/messages') %>
                <!-- Register Form -->
                <form action="/auth/register" method="POST">
               
                    <input type="text" name="name" placeholder="Full Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <!-- <input type="password" name="password" placeholder="Password" required> -->
                    <!-- <input type="password" name="confirm_password" placeholder="Confirm Password" required> -->
                    <div class="password-container">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <span class="toggle-password" onclick="togglePassword('password')">👁</span>
                    </div>
                    
                    <div class="password-container">
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                        <span class="toggle-password" onclick="togglePassword('confirm_password')">👁</span>
                    </div>
                    

                    <button type="submit">REGISTER</button>
                </form>

                <p class="login-text">Already have an account? <a href="/auth/login">Login here</a></p>
            </div>

</body>

<script>
    function togglePassword(inputId) {
        const passwordInput = document.getElementById(inputId);
        passwordInput.type = passwordInput.type === "password" ? "text" : "password";
    }
</script>


</html>
